---
layout: default
---

{% assign rows = site.posts.size | divided_by: 3.0 | ceil %}
{% for i in (1..rows) %}
  {% assign offset = forloop.index0 | times: 3 %}
  <div class="pictures">
    {% for post in site.posts limit:3 offset:offset %}
      <span>
	        <a href="{{ post.url | prepend: site.baseurl }}">
	        	<div>
                	<img src="/images/cropped/{{ post.title }}.jpg">
                </div>
            </a>
            <div class="post-title">{{ post.title }}</div>
      </span>
    {% endfor %}
  </div>
{% endfor %}