---
layout: default
---

<article class="post">
  <div id="picture">
    <img src="{{ site.baseurl }}/images/fulls/{{ page.title }}.jpg"/>
  </div>

  <div class="entry" >
    <p style="text-align: center">
      {{ page.title }} - {{ page.date | date: "%B %e, %Y" }}
    </p>
    <p style="text-align: center">
      <a href="{{ site.baseurl }}/images/hq/{{ page.title }}.png" target="_blank">Higher Quality</a>
    </p>
    <p>
      {{ content }} 
    </p>
    
  </div>

  {% include disqus.html %}
</article>
